*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #8080802c;
}
.background{
  background-color: #80808052;
}

.spinner{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-top: 10px solid #0000ff9c;
  animation: spiner 2s linear infinite;
}
@keyframes spiner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}