*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #8080802c;
}
.background{
  background-color: #80808052;
}

.spinner{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-top: 10px solid #0000ff9c;
  animation: spiner 2s linear infinite;
}
@keyframes spiner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #10b981;
  border-radius: 8px;
  color: #10b981;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  margin: 10px 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.button:hover, .button:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #10b981 inset;
}
.product-color > p{
  width: 25px;
  height: 25px;
  border-radius: 2px;
  margin-left: 15px;
}
.product-color >p:hover{
  outline: 1px solid green;
  outline-offset: 3px;
}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
}