/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container{
    @apply flex flex-col md:w-4/6 lg:w-2/6 mx-auto px-5 py-4 bg-white 
    rounded my-10
  }
  .link{
    @apply text-xl ml-4 hover:text-white
  }
  .input{
    @apply border rounded py-1 px-3 my-1 text-xl focus:outline-none
  }
  .product{
    @apply m-3 md:m-0 rounded-md bg-white leading-6 border
  }
  .header{
    @apply text-3xl md:text-4xl font-semibold text-center mb-5
  }
  .slider-header{
    @apply text-green-400
  }
  .h1{
    @apply text-2xl md:text-3xl font-semibold ml-10 my-5
  }
  .spinner-container{
    @apply h-screen flex justify-center items-center
  }
  .alart{
    @apply bg-green-100 font-semibold text-xl mb-5 mr-3 px-5 md:px-20 
    py-1 rounded-r-md border-l-8 border-solid border-green-500
  }
  .header-menu{
    @apply md:flex justify-between py-3 px-8 
    sticky top-14 md:top-0 z-10
  }


  /* home page  */
  .banner{
    @apply lg:grid grid-cols-4 gap-10 items-center text-justify 
    bg-white h-1/4 lg:h-96 overflow-hidden border-b
  }
  .flesh-cart{
    @apply grid grid-cols-2 md:grid-cols-4 my-5 px-5 md:px-10 gap-5 
    md:gap-10 text-center text-xl
  }
  .product-container{
    @apply md:grid md:grid-cols-2 lg:grid-cols-4 gap-4 md:m-5
  }

  /* shop page */
  .sidebar{
    @apply h-full fixed hidden md:block bg-white pt-5 px-2 md:w-52 
    lg:px-4 lg:w-72 mr-4 pb-36
  }
  .side-menu{
    @apply text-2xl lg:text-3xl text-green-500 font-semibold border-b-2 
    py-1 border-green-500
  }
  .shop-product{
    @apply col-span-3 grid md:grid-cols-2 lg:grid-cols-3 gap-5 mb-5
  }
  
  /* news page */
  .news-container{
    @apply md:grid grid-cols-2 lg:grid-cols-3 gap-4
  }

  /* my account page  */
  .togglebar{
    @apply md:hidden text-2xl text-green-500
  }
  .menubar{
    @apply flex flex-col bg-green-500 pt-10 fixed h-full z-20 
    transition-all duration-700
  }
  .closebtn{
    @apply text-2xl md:hidden absolute top-3 right-3
  }

  /* view cart page  */
  .view-cart-product{
    @apply p-3 grid md:grid-cols-4 justify-center items-center text-center
  }
  .calc{
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 text-center 
    items-center
  }

  /* cart product */
  .cart-product{
    @apply absolute top-full right-5 bg-white shadow-md z-20 max-h-96 
    overflow-auto
  };

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
